$create-button-color: #fd7e14;
$shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
%default-btn {
    height: 40px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
}

%animate-btn {
    @extend %default-btn;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    background-color: #fd7e14;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 0 #fd7e14, 0 4px 6px rgba(0, 0, 0, 0.45);
}

.recruit-signup-container {
    padding-bottom: 20px;
    padding-top: 60px;
    .section-name {
        .recruit-title {
            box-shadow: $shadow;
        }
    }
    .input-fields {
        .input-container {
            background-color: #fff;
            box-shadow: $shadow;

            .recruit-field-note {
                height: 30px;
                font-size: 14px;
                color: gray;
            }
            .single-field {
                input {
                    width: 100%;
                }
            }

            .double-field {
                .field-1 {
                    flex-basis: 50%;

                    input {
                        width: 100%;
                    }
                }
            }

            .editor-field {
                .wrapper-editor {
                    border: 1px solid #a9a9a9;
                }

                .text-input-editor {
                    padding: 0 15px;
                }
            }

            .post-btn {
                background-color: $create-button-color;
                @extend %animate-btn;
            }
        }
    }
}
