$circle-chart-color: #f2f2f2;
$btn-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

$background-color: #f2f2f2;
$line-color: #ccced2;
$inactive-tabs-color: #5f666f;
$text-font: "Open Sans";
.report-detail-container {
  width: 100%;
  max-width: 1200px;
  background-color: #f2f2f2;
  padding: 15px;
  margin: 15px;
  margin-right: 25px;
  .report-detail-overview {
    width: 100%;
    border-top: 6px solid #fd7e14;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 15px;
    background-color: white;
    .rd-text-info {
      * {
        font-family: "Open Sans";
        margin-bottom: 10px;
      }
      .rd-quiz-name {
        font-size: 24px;
        font-weight: 600;
      }
      .rd-viewquiz {
        width: 100px;
        top: 0;
        border: none;
        border-radius: 5px;
        box-shadow: $btn-shadow;
        background-color: #fff;
        &:hover {
          background-color: #f2f2f2;
        }
      }

      .rd-quiz-time {
        color: #737373;
      }
    }

    .chart-info {
      p {
        color: #b3b3b3;
        font-family: "Open Sans";
      }
      .chart-display {
        .circle {
          height: 82px;
          width: 82px;
          background-color: $circle-chart-color;
          border-radius: 50%;
        }
      }
    }
  }
  .report-detail-tabs {
    .report-detail-tabs-header {
      margin-right: 0;
      margin-left: 0;
      * {
        font-family: Open Sans;
        color: #808080;
      }
      .player-img {
      }
      .player-name {
      }
      .player-accuracy-bar {
      }
      .player-accuracy-rate {
      }
    }
    .order-display {
      .tab {
        width: 100%;
        font-family: sans-serif;
        color: #444;
        padding-top: 14px;
      }

      ul.inline {
        background-color: #f2f2f2;
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
        li {
          display: inline-block;
          margin-left: 0;
          width: 20%;
          padding: 10px;
          border-bottom: 2px solid #eee;
          transition: all 0.5s;
          font-family: "Open Sans";
          text-align: center;
          cursor: pointer;
          color: $inactive-tabs-color;
          &.selected {
            border-bottom: 2px solid #337ab7;
            color: #337ab7;
            font-weight: bold;
          }

          &:hover {
            background-color: #f2f2f2;
          }
        }
      }
      @media screen and (max-width: 590px) {
        ul.inline {
          li {
            padding: 10px 0;
          }
        }
      }

      .point-btn {
        display: none;
        height: 0;
        width: 0;
      }
    }
  }
}
