.employment-container {
    border: 1px solid #dddddd;
    transition: all 0.3s ease;
    .employment-control {
        .employment-overview-info {
            padding: 10px;
        }
        .employment-detail-info {
            transition: height 0.3s ease;
        }
    }
}
