.doing-quiz-container {
    height: 100%;
    width: 100%;
    position: relative;
    .count-down-section {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
