$concept-color: #fd7e14;
$container-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
.hr-page-container {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  .hr-page-grid {
    height: 100%;
    .hr-manage-container {
      padding-top: 57px;
      .hr-manage-header {
        height: 60px;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 0 10px;
        .hr-campaign-count {
          font-size: 24px;
          font-family: QuickSand;
        }

        .hr-create-campaign-btn {
          border: none;
          border-radius: 5px;
          background-color: $concept-color;
          color: white;
          box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 0 $concept-color, 0 4px 6px rgba(0, 0, 0, 0.45);
          height: 40px;
          font-weight: bold;
        }
      }

      .hr-manage-body {
        flex-wrap: wrap;
        .hr-created-list {
          height: fit-content;
          box-shadow: $container-shadow;
          width: 70%;
          min-width: 450px;
          flex-grow: 1;
        }
        .hr-manage-stat-container {
          padding-left: 10px;
          .hr-manage-stat {
            height: 400px;
            width: 30%;
            background-color: white;
            border-top: 6px solid $concept-color;
            box-shadow: $container-shadow;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            min-width: 250px;
          }
        }
      }
    }
  }
}
