.cv-creator-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    .select-cv-content {
        height: 100%;
        width: 50%;
        background-color: white;
        overflow: auto;
        padding: 10px 3%;
        &::-webkit-scrollbar {
            display: none;
        }
        .cv-section-title {
            font-weight: bold;
            font-family: Open Sans;
            font-size: 20px;
        }

        .cv-section-desc {
            font-size: 13.5px;
            color: #a6a6a6;
        }
        .cv-section-add-btn {
            border: none;
            top: 0;
            margin-top: 1rem;
            width: 100%;
            text-align: left;
            background-color: transparent;
            &:hover {
                background-color: #f2f2f2;
            }
            * {
                color: #fd7e14;
                font-family: Open Sans;
                font-weight: bold;
                font-size: 15px;
            }
        }
        .cv-section-input {
            display: flex;
            flex-direction: row;

            .half {
                width: 50%;
                .cv-input {
                    margin-bottom: 20px;
                    .cv-input-title {
                        color: gray;
                    }
                    .cv-input-ipt {
                        width: 80%;
                        input {
                            width: 100%;
                        }
                        img {
                            width: 60px;
                            height: 60px;
                        }
                        .cv-input-img-edit {
                            top: 0;
                            border: none;
                            background-color: transparent;
                            font-size: 14px;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        .cv-title {
        }
        .cv-completeness {
            padding: 10px;
            .cv-completeness-bar {
                height: 5px;
                width: 100%;
                background-color: red;
            }
        }
        .cv-personal-detail {
        }
        .cv-professional-sumary {
        }
        .cv-employment-history {
            .cv-emp-list {
            }
        }
        .cv-education {
            .cv-education-list {
            }
        }
        .skill {
        }
    }
    .cv-preview {
        background-color: #666666;
        width: 50%;
        height: 100%;
        padding: 2% 5%;
    }
}
