.wysiwyg-com {
    .demo-wrapper {
        width: 100%;
        border: 1px solid #a9a9a9;
    }

    .demo-editor {
        width: 100%;
        padding-left: 10px;
    }

    .contain-text-editor {
        width: 100%;
    }
}
