$concept-color: #fd7e14;
$selected-tab: #fd7e14;
.avail-candidate-container {
    margin-top: 25px;
    width: 100%;
    height: fit-content;

    .util-popup-inner {
        width: 70% !important;
    }

    .a-can-search {
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 130px;
        padding-top: 50px;
        padding-left: 28%;

        .search-ipt {
            border: none;
            border-bottom: 1px solid #c4c4c4;
            text-indent: 20px;
            width: 50%;
            font-size: 18px;
            font-family: "Open Sans";
            margin-right: 10px;
        }

        .search-btn {
            top: 0;
            border-radius: 20px;
            border: none;
            padding: 8px 32px;
            color: white;
            font-weight: bold;
            background-color: $selected-tab;
            &:hover {
                background-color: #e67300;
            }
        }
    }
    .a-can-header {
        padding-top: 2rem;
        .a-can-header-title {
            font-family: Open Sans;
            font-weight: bold;
            font-size: 24px;
        }
    }
    .a-can-body {
        display: flex;
        flex-direction: row;

        .a-can-list {
            width: 80%;
        }
        .a-can-filters {
            width: 20%;
            margin-left: 40px;
            .a-can-feature-filter {
                .a-can-filter-header {
                    background-color: #fff;
                    padding: 5px 10px;
                    border-radius: 20px;
                    font-family: Open Sans;
                }
                .a-can-filter-body {
                    margin-top: 0.5em;
                    height: fit-content;
                    border-left: 1px solid $concept-color;
                    display: flex;
                    flex-direction: column;
                    padding: 5px 5px;
                    .ant-checkbox-wrapper {
                        margin: 0;
                    }
                }
            }
        }
    }
}
