$background-page: #f9f9f9;
$concept-color: #fd7e14;
.detail-recruit-container {
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: $background-page;
  .dr-nav-container {
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // background-color: rgba(0, 0, 0, 0.7);
    background-color: #fff;
    position: fixed;
    z-index: 10;
    border-bottom: 2px solid #c4c4c4;
    .logo {
      .big-logo {
        height: 56px;
        position: relative;
        top: 3px;
      }
    }
  }

  .dr-content {
    margin-top: 58px;
    min-height: 100%;
    height: auto;
    .dr-grid {
      min-height: 100%;
      height: 900px;
      .job-content {
        min-height: 100%;
        height: fit-content;
        background-color: white;
        display: block;
        border-left: 1px solid #c4c4c4;
        border-right: 1px solid #c4c4c4;
        padding-top: 20px;

        .comp-img-list {
          .comp-img-crop {
            height: 200px;
            overflow: hidden;
            margin-right: 5px;
            .comp-img {
              height: 100%;
              width: initial;
            }
          }
        }

        .comp-and-job-desc {
          padding-top: 30px;
          .comp-about {
            height: 400px;
            flex-basis: 25%;
            .comp-header {
              border-top: 4px solid $concept-color !important;
              border: 1px solid #f3f3f3;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            }

            .comp-body {
              background-color: #f3f3f3;
              height: 100%;
            }
          }

          .job-desc-about {
            padding: 10px 30px;
            flex-grow: 1;
            .job-title {
              font-size: 32px;
              font-weight: bold;
            }

            .job-subject-list {
              padding: 10px 0px;

              .job-subject {
                padding: 5px 10px;
                margin-right: 5px;
                border: 1px solid #d2d3d3;
                &:hover {
                  color: $concept-color;
                  border: 1px solid $concept-color;
                }
              }
            }

            .job-salary {
              border-radius: 3px;
              height: 28px;
              .job-adjust-icon {
                padding: 3px;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                border: 1px solid $concept-color;
                margin-right: 5px;
              }
              p {
                color: gray;
              }
            }

            .job-destination {
              p {
                color: gray;
              }
            }

            .apply-btn {
              margin-top: 15px;
              width: 100%;
              border: none;
              border-radius: 3px;
              background-color: $concept-color;
              color: white;
              height: 40px;
              font-weight: bold;
              box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 0 $concept-color, 0 4px 6px rgba(0, 0, 0, 0.45);
            }
          }
        }
      }
    }
  }
}

.send-cv-pop-up {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  overflow-x: hidden;
  z-index: 10;
  .send-cv-pop-up-inner {
    height: 100%;
    .send-cv-content {
      background-color: white;
      border-radius: 5px;
      input {
        width: 85%;
      }

      .send-cv-header {
        p {
          font-family: QuickSand;
          font-weight: 600;
          font-size: 30px;
          color: gray;
        }
      }
      .send-cv-title {
        font-size: 24px;
      }

      .send-cv-name {
        font-weight: 600;
      }
      .send-cv-email {
        font-weight: 600;
      }
      .send-cv-imp-cv {
        font-weight: 600;
      }
      .send-cv-special {
        font-weight: 600;
        .special-txt {
          width: 100%;
          height: 100px;
        }
      }
      .send-cv-btn-group {
        .send-cv-btn {
          box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 0 $concept-color, 0 4px 6px rgba(0, 0, 0, 0.45);
          border: none;
          background-color: $concept-color;
          color: white;
          margin-right: 20px;
          height: 40px;
          border-radius: 5px;
        }

        .login-button {
          top: 0;
          border: none;
          background-color: #e5e5e5;
          padding: 6px 10px;
          border-radius: 5px;
          margin-right: 10px;
          &:hover {
            background-color: #b3b3b3;
          }
        }
      }
      .close-popup-btn {
        top: 0;
        border: none;
        background-color: #e5e5e5;
        padding: 6px 10px;
        border-radius: 5px;
        &:hover {
          background-color: #b3b3b3;
        }
      }
    }
  }
}
