.report-detail-player-container {
  padding: 15px 0 !important;
  .rd-player-row {
    width: 100%;
    height: 70px;
    background-color: white;
    margin: 0;
    &:hover {
      background-color: hsl(0, 0%, 98%);
    }

    .rdp-ava {
      img {
        width: 48px;
        height: 48px;
      }
    }

    // .rdp-name {
    // }

    // .rdp-accuracy-bar {
    // }

    // .rdp-accuracy-rate {
    // }

    // .rdp-score {
    // }
  }
}
